name: CI/CD Pipeline

on:
  push:
    branches:
      - motohelp
  pull_request:
    branches:
      - motohelp

jobs:
  build:
    runs-on: self-hosted 
    steps:
     - name: Checkout code
       uses: actions/checkout@v3 
     - name: Set up Node.js
       uses: actions/setup-node@v3
       with:
         node-version: 20 
     - name: Install dependencies for all services
       shell: cmd
       run: |
         set services=api-gateway vendor-service driver-service customer-service KYC_Verification
         for %%s in (%services%) do (
           if exist %%s\package.json (
             echo Installing dependencies for %%s...
             cd %%s
             npm install
             cd ..
           ) else (
             echo No package.json found in %%s, skipping...
           )
         )
      
     
     - name: Create logs directories
       run: |
         mkdir -p admin-service/log/logs
         mkdir -p api-gateway/log/logs
         mkdir -p customer-service/log/logs
         mkdir -p driver-service/log/logs
         mkdir -p vendor-service/log/logs
         mkdir -p KYC_Verification/log/logs 
 
     - name: Build Docker image
       run: |
         docker build -t motohelpindia.com:${{ github.sha }} -f motohelpindia.com/Dockerfile motohelpindia.com

  

     - name: Log in to Docker Hub
       uses: docker/login-action@v2
       with:
         username: ${{ secrets.DOCKER_USERNAME }}
         password: ${{ secrets.DOCKER_PASSWORD }}
     
     - name: Push Docker image
       run: |
         docker tag motohelpindia.com:${{ github.sha }} \
         your-dockerhub-username/motohelpindia.com:${{ github.sha }}

         docker push your-dockerhub-username/motohelpindia.com:${{ github.sha }}

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install sshpass
      run: |
        sudo apt-get update
        sudo apt-get install -y sshpass

    - name: Add SSH known hosts
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan -p ${{ secrets.LINUXPORT }} ${{ secrets.LINUXIP }} >> ~/.ssh/known_hosts

    - name: Deploy to Linux Server
      env:
        SSHPASS: ${{ secrets.LINUXPASSWORD }}
      run: |

        echo "------ Creating Folder if not exists ------"
        sshpass -e ssh -p ${{ secrets.LINUXPORT }} ${{ secrets.LINUXUSERNAME }}@${{ secrets.LINUXIP }} \
        "mkdir -p /var/www/motohelpindia.com"

        echo "------ Uploading project ------"
        sshpass -e rsync -avz -e "ssh -p ${{ secrets.LINUXPORT }}" \
        "$GITHUB_WORKSPACE/" \
        ${{ secrets.LINUXUSERNAME }}@${{ secrets.LINUXIP }}:/var/www/motohelpindia.com

        echo "------ Creating .env file ------"
        sshpass -e ssh -p ${{ secrets.LINUXPORT }} ${{ secrets.LINUXUSERNAME }}@${{ secrets.LINUXIP }} << 'EOF'
                  cat > /var/www/motohelpindia.com/.env << 'ENV_END'
                  DB_HOST=${{ secrets.DB_HOST }}
                  DB_USER=${{ secrets.DB_USER }}
                  DB_PASSWORD=${{ secrets.DB_PASSWORD }}
                  DB_NAME=${{ secrets.DB_NAME }}
                  PORT=${{ secrets.PORT }}
                  APIPORT=${{ secrets.APIPORT }}
                  ADMINPORT=${{ secrets.ADMINPORT }}
                  VENDORPORT=${{ secrets.VENDORPORT }}
                  DRIVERPORT=${{ secrets.DRIVERPORT }}
                  CUSTOMERPORT=${{ secrets.CUSTOMERPORT }}
                  ADMIN_SERVICE_URL=${{ secrets.ADMIN_SERVICE_URL }}
                  VENDOR_SERVICE_URL=${{ secrets.VENDOR_SERVICE_URL }}
                  DRIVER_SERVICE_URL=${{ secrets.DRIVER_SERVICE_URL }}
                  CUSTOMER_SERVICE_URL=${{ secrets.CUSTOMER_SERVICE_URL }}
                  ENV_END
                  EOF

        echo "------ Restarting Services with PM2 ------"

        # START gateway
        sshpass -e ssh -p ${{ secrets.LINUXPORT }} ${{ secrets.LINUXUSERNAME }}@${{ secrets.LINUXIP }} "
          cd /var/www/motohelpindia.com/api-gateway &&
          npm install &&
          pm2 restart index.js || pm2 start index.js
        "

        # START vendor
        sshpass -e ssh -p ${{ secrets.LINUXPORT }} ${{ secrets.LINUXUSERNAME }}@${{ secrets.LINUXIP }} "
          cd /var/www/motohelpindia.com/vendor-service &&
          npm install &&
          pm2 restart index.js || pm2 start index.js
        "

        # START driver
        sshpass -e ssh -p ${{ secrets.LINUXPORT }} ${{ secrets.LINUXUSERNAME }}@${{ secrets.LINUXIP }} "
          cd /var/www/motohelpindia.com/driver-service &&
          npm install &&
          pm2 restart index.js || pm2 start index.js
        "

        # START customer
        sshpass -e ssh -p ${{ secrets.LINUXPORT }} ${{ secrets.LINUXUSERNAME }}@${{ secrets.LINUXIP }} "
          cd /var/www/motohelpindia.com/customer-service &&
          npm install &&
          pm2 restart index.js || pm2 start index.js
        "

        # START KYC service
        sshpass -e ssh -p ${{ secrets.LINUXPORT }} ${{ secrets.LINUXUSERNAME }}@${{ secrets.LINUXIP }} "
          cd /var/www/motohelpindia.com/KYC_Verification &&
          npm install &&
          pm2 restart index.js || pm2 start index.js
        "
